.App {
  text-align: left;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #d54d7b;
  color: white;
}

.imgIMG {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 5px 0 rgb(103, 103, 105);
}

.listDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.divDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .divDisplay {
    flex: 50%;
    max-width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .divDisplay {
    flex: 100%;
    max-width: 100%;
  }
}
.imgArt {
  max-width: 70%;
  height: auto;
  padding: 3px;
  box-shadow: 0px 0px 15px 0px grey;
}
.articleDiv {
  display: flex;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 28pt;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
}
/* h1 {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 28pt;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 4px;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
} */

p {
  color: #685206;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}
